[submodule "modules/logster"]
	path = modules/logster
	url = git@github.com:KrisBuytaert/puppet-logster.git
[submodule "modules/graphite"]
	path = modules/graphite
	url = git@github.com:KrisBuytaert/puppet-graphite.git
[submodule "modules/jmxtrans"]
	path = modules/jmxtrans
	url = git@github.com:KrisBuytaert/puppet-jmxtrans.git
[submodule "modules/collectd"]
	path = modules/collectd
	url = git@github.com:KrisBuytaert/puppet-collectd.git
[submodule "modules/statsd"]
	path = modules/statsd
	url = https://KrisBuytaert@github.com/KrisBuytaert/puppet-statsd.git
[submodule "modules/tattle"]
	path = modules/tattle
	url = https://KrisBuytaert@github.com/KrisBuytaert/puppet-tattle.git
[submodule "modules/concat"]
	path = modules/concat
	url = git://github.com/ripienaar/puppet-concat.git
[submodule "modules/passenger"]
	path = modules/passenger
	url = https://github.com/UnifiedPost/puppet-passenger.git
[submodule "modules/ruby"]
	path = modules/ruby
	url = git://github.com/simonsd/puppet-ruby.git
[submodule "modules/tmpwatch"]
	path = modules/tmpwatch
	url = http://github.com/KrisBuytaert/puppet-tmpwatch/
[submodule "modules/gdash"]
	path = modules/gdash
	url = http://github.com/KrisBuytaert/puppet-gdash/
[submodule "modules/apache"]
	path = modules/apache
	url = git://github.com/Inuits/puppet-apache.git
