[submodule "modules/logster"]
	path = modules/logster
	url = git@github.com:KrisBuytaert/puppet-logster.git
[submodule "modules/graphite"]
	path = modules/graphite
	url = git@github.com:KrisBuytaert/puppet-graphite.git
[submodule "modules/apache"]
	path = modules/apache
	url = git+ssh://git@git.dev.inuits.be:2222/puppet-modules/apache.git
[submodule "modules/jmxtrans"]
	path = modules/jmxtrans
	url = git@github.com:KrisBuytaert/puppet-jmxtrans.git
[submodule "modules/collectd"]
	path = modules/collectd
	url = git@github.com:KrisBuytaert/puppet-collectd.git
[submodule "modules/statsd"]
	path = modules/statsd
	url = https://KrisBuytaert@github.com/KrisBuytaert/puppet-statsd.git
[submodule "modules/tattle"]
	path = modules/tattle
	url = https://KrisBuytaert@github.com/KrisBuytaert/puppet-tattle.git
